{% extends 'base.html' %}

{% block style %}
{% endblock style %}

{% block content %}
<div>
  <h4 class="pb-4">제목: {{ post.title }}</h4>
</div>
<div>
  <p>분류: {{ post.category }}</p>
  <hr />
  <p>내용: {{ post.content }}</p>
  <hr />
  <span>작성: {{ post.created_at }}</span>
  <p>수정: {{ post.updated_at }}</p>
  <hr />
  
</div>
<button onclick="history.back()" class="btn btn-outline-primary mb-3">
  뒤로
</button>
<a
  href="{% url 'posts:update' post.pk %}"
  class="btn btn-outline-success mb-3"
  role="button"
  >수정</a
>
{% endblock content %}
