{% extends 'accountbooks/base.html' %} {% block content %}

<h1>New</h1>

<form action="{% url 'accountbooks:create' %}" method="POST">
  <div class="card mt-2" style="width: 20rem">
    <div class="card-body p-3">
      {% csrf_token %}
      <div>
        <label for="note" class="mb-1">내용</label>
        <input
          type="type"
          class="form-control mb-2"
          name="note"
          style="width: 15rem"
          id="note"
        />
      </div>

      <div>
        <label for="category" class="mb-1">분류</label>
        <select
          class="form-select mb-2"
          name="category"
          style="width: 10rem"
          id="category"
          aria-label="Default select example"
        >
          <option selected>select category</option>
          <option value="식비">식비</option>
          <option value="통신비">통신비</option>
          <option value="기타">기타</option>
        </select>
      </div>

      <div>
        <label for="amount" class="mb-1">사용 금액</label>
        <input
          type="number"
          class="form-control mb-2"
          name="amount"
          style="width: 10rem"
          id="amount"
        />
      </div>

      <div>
        <label for="date" class="mb-1">사용 날짜</label>
        <input
          type="date"
          class="form-control mb-2"
          name="date"
          style="width: 10rem"
          id="date"
          value="{{ accountbook.date|date:'Y-m-d' }}"
        />
      </div>

      <div>
        <label for="description" class="mb-1">메모</label>
        <textarea
          class="form-control mb-2"
          name="description"
          id="description"
          style="width: 18rem; height: 7rem"
        ></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-success mx-1 mt-3">
    가계부 작성
  </button>
</form>

<a href="{% url 'accountbooks:index' %}">
  <button type="submit" class="btn btn-outline-primary mx-1 mt-2">
    뒤로 가기
  </button>
</a>
{% endblock content %}
