{% extends 'base.html' %}

{% block style %}
{% endblock style %}

{% block content %}
<h1>회원정보 수정</h1>
<br />
<form action="{% url 'accounts:update' %}" method="POST" class="mb-2">
  {% csrf_token %} {{ form.as_p }}
  <a href="{% url 'accounts:change_password' %}" class="btn btn-outline-primary">비밀번호 변경</a>

  <div class="mt-2">
    
    <input type="submit" class="btn btn-outline-success me-2" value="수정" />
    <button class="btn btn-outline-danger" onclick="confirmDelete(event)">
      회원탈퇴
    </button>
  </div>
</form>

<form action="{% url 'accounts:delete' %}" method="POST" id="delete">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}" />
</form>

<script>
  function confirmDelete(event) {
    event.preventDefault()

    if (confirm("정말로 탈퇴하시겠습니까?")) {
      document.querySelector("#delete").submit()
    }
  }
</script>
{% endblock content %}
