{% extends 'base.html' %} 
{% block style %}
{% endblock style %} 
{% block body %}
<div class="m-5">
  <a href="{% url 'reviews:create' %}"
    ><button type="button" class="btn btn-outline-primary">
      리뷰 작성
    </button></a
  >
  <hr />

  {% for review in reviews %}
  <a href="{% url 'reviews:detail' review.pk %}"
    >제목: {{ review.title }}</a
  >
  <hr />
  {% endfor %}

</div>

    {% comment %} 페이지네이션 컴포넌트 시작 {% endcomment %}
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="?page=1">처음</a>
      </li>
      {% comment %}
          이전 페이지 버튼
          이전 페이지가 존재할 경우 이전 페이지 버튼 활성화
      {% endcomment %}
      {% if reviews.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ reviews.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
      {% comment %}
          페이지 번호 리스트 생성 반본북
      {% endcomment %}
      {% for page_number in reviews.paginator.page_range %}
        {% comment %}
          페이지 번호가 무한히 생성되는 것을 막는 조건문
          현재 페이지에서 +- 5 까지 생성
        {% endcomment %}
        {% if page_number >= reviews.number|add:-5 and page_number <= reviews.number|add:5 %}
          {% if page_number == reviews.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% comment %}
          다음 페이지 버튼
          다음 페이지가 존재할 경우 다음 페이지 버튼 활성화
      {% endcomment %}
      {% if reviews.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ reviews.next_page_number }}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="?page={{ reviews.paginator.num_pages }}">마지막</a>
      </li>
    </ul>
    {% comment %} 페이지네이션 컴포넌트 끝 {% endcomment %}


{% endblock body %} 
{% block script %}
{% endblock script %}
